@{
    ViewData["Title"] = "Новое приложение";
}

<div class="newapp">
    <h2>Новое приложение:</h2>
    <form method="post" class="newapp-form">
        <label>
            Название приложения:
            <input type="text" name="appname" required>
            <input type="submit" value="Сохранить">
        </label>
    </form>
    @if (ViewData.ContainsKey("Error"))
    {
        <div class="error-message">@ViewData["Error"]</div>
    }
</div>