* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    padding: 15px;
    box-shadow: 0 2px 15px dimgray;
}

.site-name {
    width: auto;
    flex: 0 0 auto;
    margin-right: 25px;
}
.site-name > a {
    font-size: 24pt;
    text-decoration: none;
    font-weight: bold;
    color: #444;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}
nav ul {
    list-style: none;
    margin: 0; padding: 0;
}
nav ul > li {
    display: inline;
    margin-right: 15px;
}
nav a {
    text-decoration: none;
    color: #777;
}
nav a:hover {
    color: #000;
}

main {
    margin: 25px 0;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 14pt;
}

.newapp {
    margin: 30px;
}

.newapp label, .newapp input {
    font-size: 14pt;
    margin: 5px;
}

.newapp input {
    border: 1px solid dimgray;
    border-radius: 3px;
    padding: 5px 8px;
}

/*  Apps Table Styles  */

.apps-container {
    margin: 20px 50px;
}

.apps-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 12pt;
}

.apps-table th {
    background: lightgray;
    font-weight: normal;
    border-right: 2px solid white;
}

.apps-table th, .apps-table td {
    padding: 20px 10px;
}

.apps-table td {
    border-bottom: 1px solid lightgray;
    color: gray;
}

.apps-table tr:hover > td {
    background: #eee;
}

.apps-table tr > td:last-child {
    text-align: center;
}

.apps-table a {
    color: #0088ff;
    text-decoration: none;
}
.apps-table a:visited { color: #0088ff; }

.apps-table .app-link {
    color: #34495e;
    font-weight: bold;
}

.apps-table .app-link:visited {
    color: #34495e;
}

/*  <<< Apps Table Styles  */

/*  App Statistics Styles  */

.statistics-container {
    max-width: 1000px;
    margin: 25px auto;
    box-shadow: 1px 1px 5px dimgray;
    padding: 15px;
}

.statistics-wrapper {
    display: flex;
}

.statistics-title {
    color: #333;
    text-align: center;
    margin: 0 0 50px 0;
}

.toggle-box {
    box-sizing: border-box;
    align-self: baseline;
    padding: 10px 0 20px 0;
}

.toggle-buttons > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    min-width: 200px;
}
.toggle-buttons > a:visited {
    color: #333;
}
.toggle-buttons > a:hover {
    background: linear-gradient(90deg, lightgray 70%, transparent);
}
.toggle-buttons > .selected {
    background: linear-gradient(90deg, lightgray 70%, transparent);;
}

.chart-container {
    margin-left: 30px;
    /* border: 1px dashed red; */
    height: 600px;
    flex-grow: 1;
}

/*  <<< App Statistics Styles  */

@media screen and (max-width: 900px) {
    .site-name {
        margin: 0;
        text-align: center;
    }
    header, nav {
        flex-direction: column;
    }
    nav ul {
        margin-bottom: 15px;
    }
    nav ul > li {
        display: block;
        margin: 5px 0;
        text-align: center;
    }

    .newapp input {
        display: block;
        margin-top: 10px;
    }

    /*  App Statistics Styles  */
    .statistics-wrapper {
        display: block;
    }

    .toggle-box {
        margin-bottom: 30px;
    }
    /*  <<< App Statistics Styles  */
}